/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input,p,th, td,button{margin:0;padding:0; font-family:'Microsoft Yahei';}
img,button{border:0; vertical-align: middle;}
table{border-collapse:collapse;border-spacing:0; table-layout:fixed}
button{ outline:none;}
ol, ul{list-style:none}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select:focus{outline:none;}
a{text-decoration:none;}
a{outline: none; /* for Forefox */ }
a{star:expression(this.onFocus=this.blur()); /* for Ie*/ }
input::-ms-clear{display:none;}
html{font-size:62.5%;}
img{vertical-align: top;}
html,body{height:100%;}
body{ overflow-x: hidden;}
*{box-sizing: border-box;}

.ani{transition:0.3s;}
.fix-top{padding-top:43px;}
.topBar{height:43px;background:#0057AE;position:fixed;width:100%;top:0;left:0;z-index:21;}
.mid-area{width:1200px;margin:0 auto;}
.topBar .mid-area{height:43px;position:relative;padding:0 40px;}
.nav{float:left;margin-left:300px;}
.nav li{display:inline-block;margin-right:2em;position:relative;}
.subNav{width:220px;height:auto;padding:10px 15px;background:rgba(0,87,174,0.8);display:none;position:absolute;top:45px;left:0;z-index:100;}
.nav .subNav a{display:block;text-align:left;}
.nav li.active .subNav{display:block;}
.nav a{display:inline-block;height:43px;line-height:43px;color:#eaeaea;font-size:1.4em;text-align:center;transition:0.3s;}
.nav a:hover{color:#FFBB50;}
.nav a.current{border-bottom:2px solid #FFBB50;}
.top-menu{float: right;}
.top-menu a{display:inline-block;height:43px;line-height:43px;font-size:1.4em;color:#eaeaea;margin-left:2em;transition:0.3s;}
.top-menu a:hover{color:#FF9A0A;}
/*弹出*/
.pop{padding:5px;background:url("../img/bg.png") repeat;box-shadow:0 3px 10px 2px rgba(0,0,0,.16),0 5px 20px 4px rgba(0,0,0,.1)}
.pop img{vertical-align:top;width:100%;height:100%;}
.popa{content:"";position:fixed;display:block;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fff;opacity:0.5;filter:alpha(opacity=50)}
/*banner*/
.banner-bg{background:url("../img/banner.jpg") no-repeat center top;height:470px;width:100%;position:fixed;top:43px;left:0;z-index:10;}
.banner{position:relative;z-index:11;height:380px;overflow:hidden;}
.banner .mid-area{position:relative;height:100%;}
.banner .light{position:absolute;left:-150px;bottom:0;z-index:2;}
.banner .swf{position:absolute;top:0;left:-400px;z-index:1;}
.banner .doctor{position:relative;z-index:3;top:20px;left:70px;}
.banner .row{width:50%;height:100%;float:right;}
.pr-50{padding-right:40px;}
.query{width:100%;border:2px solid #FFBB50;padding-right:80px;position:relative;overflow:hidden;zoom:1;}
.query input{height:42px;line-height:42px;padding:0 1em;width:100%;float:left;border:none;font-size:16px;color:#E09315;}
.query input::-webkit-input-placeholder{font-size:14px;color:#F2C986;}
.query input::-moz-placeholder{font-size:14px;color:#F2C986;}
.query input:-ms-input-placeholder{font-size:14px;color:#F2C986;}
.query button{width:80px;height:42px;float:right;margin-right:-80px;background:#FFBB50;font-size:14px;color:#fff;line-height:42px;cursor: pointer;}
.query.fixed{position:fixed;z-index:100;top:0;right:30%;width:350px;}
.btn:hover{opacity:0.9;filter:alpha(opacity=90)}
.btn:active{opacity:1;filter:alpha(opacity=100)}
.fs-18{font-size:18px;}
.fs-24{font-size:24px;}
.fs-44{font-size:44px;}
.f-cap{font-family:"Capsuula";}
.txt-shadow{color:#cee5ff;text-shadow: 0 0 3px #0a0204;}
.txt-shadow b{font-weight:normal;}
.ml-20{margin-left:20px;}
.mlr-10{margin-left:10px;margin-right:10px;}
.mr-20{margin-right:20px;}
.ml-10{margin-left:10px;}
/*main*/
.main{background:#fff;position:relative;z-index:20;}
.bg-lb{background:#E5F2FF;}
.row{display:table;width:100%;}
.col{display:table-cell;}
.col33{width:33.3%;}
.col66{width:66.6%;}
.ptb-20{padding-top:20px;padding-bottom:20px;}
.ico-title{position:relative;height:80px;padding-left:90px;display:inline-block;text-align:left;}
.ico-title img{position:absolute;left:0;top:0;}
.ico-title b{font-size:2.4em;color:#499dff;display:block;font-weight:normal;line-height:30px;padding-top:10px;}
.ico-title span{font-size:3em;color:#499DFF;font-family: "Capsuula";}
.article p{font-size:1.4em;color:#666;line-height:28px;margin-bottom:15px;}
.mt-60{margin-top:60px;}
.rota{display:inline-block;position:relative;}
.rota .r2{position:absolute;left:0;top:0;}
.rota img{/*动画元素transform-style*/-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;  -webkit-transition: .6s ease-in-out ;  -moz-transition:  .6s ease-in-out ; /*动画元素背后设置为hidden*/  -webkit-backface-visibility: hidden;  -moz-backface-visibility: hidden;}
.rota .r1{-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);z-index: 2;}
.rota .r2{-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);  z-index: 1;}
/*.item:hover img.r1{-webkit-transform: rotateY(-180deg);-moz-transform: rotateY(-180deg);}
.item:hover img.r2{-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);}*/
.t-c{text-align:center;}
.t-r{text-align:right;}
.block{display:block;}
.menu-list{padding-left:80px;}
.menu-list .row .col{padding:5px;position:relative;transition:0.3s;}
.menu-list .row .col .mask{display:inline-block;position:absolute;width:100%;height:100%;background:url(../img/play.png) no-repeat center center rgba(255,161,12,0.5);left:-100%;top:0;z-index:10;transition:0.3s;}
.menu-list .row .col:hover .mask{left:0;}
.menu-list .row .col a.block{padding:10px 0;background:#fff;border:2px solid #fff;overflow:hidden;position:relative;}
.course{padding-left:40px;padding-right:40px;}
.fs-16{font-size:1.6em;}
.c-333{color:#333;}
.menu-list .rota{width:80px;height:80px;}
.menu-list .row .col a.block:hover{background:#E5F2FF;}
/*名师讲坛*/
.mt-40{margin-top:40px;}
.pt-100{padding-top:100px;}
.ptb-40{padding-top:40px;padding-bottom:40px;}
.mtm-60{margin-top:-60px;}
.slide{position:relative;}
.slide-box{position:relative;}
.slide-wrap{position:relative;left:0;zoom:1;overflow:hidden;}
.slide-item{display:inline-block;float:left;width:20%;}
.slide-item a{display:block;text-align:center;}
.slide-item a span.img img{width:100%;height:100%;transition:0.3s;border-radius:50%;}
.slide-item a b{display:block;text-align:center;font-size:14px;color:#000;padding-top:15px;}
.slide-item a span{display:block;text-align:left;color:#666;line-height:20px;padding:10px 30px;font-size:1.2em;}
.slide-item a span.img{display:inline-block;width:130px;height:130px;padding:0;margin:0;border-radius:50%;overflow:hidden;border:2px solid transparent;text-align:center;transition:0.3s;}
.slide-item a span.img:hover{border-color:#F2C986;padding:5px;}
.slide-item a span.img:hover img{opacity:0.8;filter:alpha(opacity=80)}
.slide-ion{position:absolute;right:2px;top:32px;}
.slide-ion span{display:block;width:8px;height:8px;border-radius:50%;background:#A0A0A0;margin:5px;}
.slide-ion .active{background:#00B7EE;}
/*资讯中心*/
.col50{width:50%;}
.news .m1{padding-right:50px;}
.mt-20{margin-top:20px;}
.news .m2{padding-left:50px;}
.list-wrap{padding-left:120px;position:relative;}
.list-wrap img{position:absolute;top:0;left:0;}
.module-title{border-bottom:1px solid #00B7EE;padding:10px 0;font-size:24px;color:#666666;}
.list li{height:40px;line-height:40px;border-bottom:1px dashed #A7AAAC;}
.list li a{display:inline-block;width:60%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:1.4em;color:#000;}
.list li span{font-size:16px;color:#666;float:right;display:inline-block;height:40px;line-height:40px;}
.pb-50{padding-bottom:50px;}
/*footer*/
.footer{background:#151F29;padding:40px 0;position:relative;z-index:10;}
.footer .row{margin-left:50px;}
.footer .col{vertical-align: middle;text-align:left;padding:0 50px;border-left:1px solid #4D5256;}
.footer p{color:#858585;font-size:14px;text-align:left;display:inline-block;}
.footer h4{text-align:left;margin-bottom:20px;}
.col25{width:25%;}
.phone{padding-left:50px;background:url("../img/phone.png") no-repeat left top;display:inline-block;text-align:left;}
.phone h5{color:#858585;font-size:1.6em;}
.phone p{color:#858585;font-size:1.4em;display:block;}
.c-fff{color:#fff;}
.code{padding-left:120px;position:relative;height:104px;display:inline-block;}
.code img{position:absolute;left:0;top:0;}
.code span{display:inline-block;height:40px;line-height:20px;text-align:center;position:absolute;top:50%;margin-top:-20px;width:80px;}
.bornone{border:none !important;}
.footer  p.link{display:block;text-align:center;margin:20px;}
.footer p.link a{font-size:14px;color:#858585;margin:0 10px;transition:0.3s;}
.footer p.link a:hover,.list li a:hover,.slide-item a:hover b{color:#F2C986;}
.footer p.text{text-align:center;font-size:14px;color:#858585;display:block;}
.more{font-size:14px;color:#fff;background:#00B7EE;display:inline-block;padding:3px;width:24px;border-radius:12px;text-align:center;border:2px solid #00B7EE;transition:0.3s;}
.more:hover{background:#fff;color:#00B7EE;border-color:#00B7EE;}
.pos-r{position:relative;}
.row2 .more{position:absolute;right:0;top:0;z-index:22;}
.course .more,.news .more{position:absolute;right:0;top:5px;}
.news .more{top:40px;}
.v-m{vertical-align:middle;}
/*.light{animation:light 2s infinite ease-in-out;transition:0.3s;}*/

@keyframes light {
    from{
        opacity:1;filter:alpha(opacity=100)
    }
    50%{
        opacity:0.5;filter:alpha(opacity=50)
    }
    to{
        opacity:1;filter:alpha(opacity=100)
    }
}
