/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb{
    background-color:#0057AE;
    height:50px;
    outline-offset:-2px;
    outline:0px solid #fff;
    -webkit-border-radius:4px;
    border: 1px solid #126FC9;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover{
    background-color:#FB4446;
    height:50px;
    -webkit-border-radius:4px;
}

/*---滚动条大小--*/
::-webkit-scrollbar{
    width:5px;
    height:2px;
    border-radius:3px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece{
    background-color:#DEDEDE;
    -webkit-border-radius:0;
}

body{
    scrollbar-arrow-color: #CBCBCB;  /*图6,三角箭头的颜色*/
    scrollbar-face-color: #CBCBCB;  /*图5,立体滚动条的颜色*/
    scrollbar-3dlight-color: #CBCBCB;  /*图1,立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #fff;  /*图2,滚动条空白部分的颜色*/
    scrollbar-shadow-color: #CBCBCB;  /*图3,立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #fff;  /*图4,立体滚动条强阴影的颜色*/
    scrollbar-track-color: #DEDEDE;  /*图7,立体滚动条背景颜色*/

    scrollbar-base-color:#f8f8f8;  /*滚动条的基本颜色*/
    /*Cursor:url(mouse.cur);*/  /*自定义个性鼠标*/
}

/*字体*/
@font-face {
    font-family: "Capsuula";
    src: url("../fonts/Capsuula.eot"); /* IE9 */
    src: url("../fonts/Capsuula.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../fonts/Capsuula.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Capsuula.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("../fonts/Capsuula.svg#Capsuula") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}